<h1>
    {{title}}
</h1>
{{selectedSDClips | json }}
<div>
    <h3>selected NTSC HD Clips</h3>
    <!--<p>{{groupedViseoClips.selectedNTSCHDClips | json }}</p>-->
    <ul>
        <li *ngFor="let reel of groupedViseoClips.selectedNTSCHDClips">
            {{reel.Name}} - {{reel.Definition}} - {{reel.Standard}}
        </li>
    </ul>
</div>
<div>
    <h3>selected NTSC SD Clips</h3>
    <!--<p>{{groupedViseoClips.selectedNTSCSDClips | json }}</p>-->
    <ul>
        <li *ngFor="let reel of groupedViseoClips.selectedNTSCSDClips">
            {{reel.Name}} - {{reel.Definition}} - {{reel.Standard}}
        </li>
    </ul>
</div>
<div>
    <h3>selected PAL SD Clips</h3>
    <!--<p>{{groupedViseoClips.selectedPALSDClips | json }}</p>-->
    <li *ngFor="let reel of groupedViseoClips.selectedPALSDClips">
        {{reel.Name}} - {{reel.Definition}} - {{reel.Standard}}
    </li>
</div>
<div>
    <h3>selected PAL HD Clips</h3>
    <!--<p>{{groupedViseoClips.selectedPALHDClips | json }}</p>-->
    <li *ngFor="let reel of groupedViseoClips.selectedPALHDClips">
        {{reel.Name}} - {{reel.Definition}} - {{reel.Standard}}
    </li>
</div>